.herou{
    background-color: var(--background-color);
    text-align: center;
   padding: 118px 0;
    max-width: 1600px;
    // height: 600px;
    outline: 1px solid black;
    background-image:linear-gradient( to left,
    rgba(0, 8, 0, 0.5),
    rgba(0, 8, 0, 0.5)),
    url(..//../img3/Header\ imgmob1x.jpg );
@include retina{ background-image:linear-gradient( to left,
    rgba(0, 8, 0, 0.5),
    rgba(0, 8, 0, 0.5)),
    url(..//../img3/Header\ imgmob@2x.jpg); }
    
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
   
    @include tablet{
        background-image:linear-gradient( to left,
    rgba(0, 8, 0, 0.5),
    rgba(0, 8, 0, 0.5)),
    url(..//../img3/Header\ imgtab1x.jpg);
@include retina{ background-image:linear-gradient( to left,
    rgba(0, 8, 0, 0.5),
    rgba(0, 8, 0, 0.5)),
    url(..//../img3/Header\ imgtab@2x.jpg); 
    }}
    @include destop{
        padding: 200px 0;
    background-image:linear-gradient( to left,
    rgba(0, 8, 0, 0.5),
    rgba(0, 8, 0, 0.5)),
    url(..//../img2/Imgdes1x.jpg);
@include retina{ background-image:linear-gradient( to left,
    rgba(0, 8, 0, 0.5),
    rgba(0, 8, 0, 0.5)),
    url(..//../img2/heder\ dest2x.jpg);
}
}


   &__text{
    max-width: 360px;
       font-family: 'Roboto';
       @include font(26px, 900, 1.61);
       letter-spacing: 0.06em;
       text-transform: uppercase;
    margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   color:var(--background-color-2);
   @include destop{
    max-width: 696px;
    text-align: center;
    @include font(44px, 900, 1.36);
    
   }
        }}
    
   /* backdrop */
   .backdrop{
       position: fixed;
       top: 0;
       left: 0;
       @include box(100%, 100%);
       background-color: rgba(0, 0, 0, 0.2);
       opacity: 1;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
   &.is-hidden{
       opacity: 0;
       pointer-events: none;
       visibility: hidden;
       transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   } }
   
   .modal{
    width: 450px;
    // height: 609px;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background-color: var(--secondary-text-color);
    position: absolute;
    
   
    transform: translate(-50% ,-50%);
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
visibility: visible;
transform-origin: 0 0;
    @include destop{
        padding: 0;
       min-width: 528px;
        // height: 581px;
       
    }
       }
   /* мод вікно заповнення */
   .form{
    padding: 40px;
       width: 100%;
       margin: 0;
      background:var(--secondary-text-color);
      
   
   &__title{
    text-align: center;
    font-family: 'Roboto';
       @include font(20px, 700, 1.5);
       margin-bottom: 12px;
        letter-spacing: 0.03em;
        color: #212121;
        @include destop{
            @include font(20px, 700, 1.15); 
        }
       
   }
   &__item{
   display: flex;
   flex-direction:column;
   margin-bottom: 10px;
   position: relative;
   } 
   &__logo{
       position: absolute;
       top: 65%;
       left: 15px;
       cursor: pointer;
       transform: translateY(-50%);
       transition-property: fill;
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }
   
   
   &__label{
    @include box(22px, 14px);
       font-family: 'Roboto';
       @include font(12px, 400, 1.17);
      letter-spacing: 0.01em;
      margin-bottom: 4px;
       
       color:var(--primary-text-color); 
   
   }
   &__input{
     padding:0px 42px ;
     box-sizing: border-box;
   outline: none;
   height: 40px;
   margin: 0;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;  
   }
   
   &__input:focus + &__logo
   {  fill:var(--accent-color);
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       }
   &__input:focus{
     border-color: var(--accent-color);
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }
   
   &__textarea::placeholder{
       width: 100%;
   min-height: 96px;
   font-family: 'Roboto';
   @include font(12px, 400, 14px);
   letter-spacing: 0.01em;
   
   color: rgba(117, 117, 117, 0.5);
   }} 
   textarea.form__input{
    resize: none;
    box-sizing: border-box;
   
min-height: 120px;
padding: 12px 16px;
border-radius: 4px;  
}
.checkbox__chek{
    @include font (14px, 400, 24px);
}

   .checkbox{
       margin-top: 10px;
       margin-left: 0px;
       margin-right: 0px;
   
   &__input{
       visibility: hidden;
       transform: translatex(20px);
   }
   &__input:checked + &__chek::before{
       background-color: var(--accent-color);
       border-color: var(--accent-color);
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       background-origin: padding-box;
       background-repeat: no-repeat;
       background-position: center;
       
       
   }
   &__chek{
    @include box(400.62px, 24px);
   left: 612.38px;
   top: 658px;
   font-family: 'Roboto';
   @include font(14px, 400, 24px);
  
   color: var(--primary-text-color);
   }
   &__chek::before{
    @include box(14px, 15px);
       background-color:var(--background-color-2);
       align-self: flex-start;
       margin-right: 10px;
       flex: 0 0 24px;
       border: 2px solid black;
       content: "";
       cursor: pointer;
   display: inline-block;
   transform: translateY(15%);
   background-image: url(../../imq/Vector\ \(5\)\ \(1\).svg);}
  
   
    &__item{
        @include font(12px, 400, 24px);
   
   text-decoration: underline;
   font-family: 'Roboto';
   color: var(--accent-color);
   @include destop{
    @include font(14px, 400, 24px);
   }
   }}
   
   .close-modal{
       position: absolute;
   min-width: 30px;
   min-height: 30px;
   top: 8px;
   right: 8px;
   background-color: transparent;
   border-radius: 50%;
     @extend %flex-center;
       background:var(--secondary-text-color);
       border: 1px solid rgba(0, 0, 0, 0.1);
   
   &:focus,
   &:hover
   {  fill:var(--accent-color);
       transition-duration: 250ms;
       transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}}
    .checkbox__label{
        text-align: left;
        font-size: 12px;
        @include destop{
        width: 450px;
        font-size: 14px;}}
       
    